body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(to right, #059669, #0d9488);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero { /* home page hero image */
    position: relative;
    width: 100%;
    height: 400px;
    background: url("/static/recipes/images/hero-chickenmealprep.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text { /* text for over the hero image */
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* better text visibility */
    padding: 20px;
    border-radius: 10px;
}

/* titles */
h1 {
    font-size: 3rem;
    margin: 0;
}

/* text on the home page */
.home-content {
    width: 60%; /* Set the width of the content */
    margin: 0 auto; 
    padding: 20%; 
    text-align: center; 
    box-sizing: border-box; /* Ensures padding is included within the width */
}